<!doctype html>
<html lang="en">
  <head>
    <!-- Bootstrap CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/css/jquery.min.js"></script>
    <script src="/css/bootstrap.min.js"></script>
    <script src="js/socket.io.js"></script>
     <script src="js/chating.js"></script>

    <title>{{name}}</title>
  </head>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="me-auto mb-2 mb-lg-0">
        <li class="nav-item btn btn-outline-danger">
          <a class="active" aria-current="page" href="user/get_all_users">Home</a>
        </li>
        <li class="btn btn-outline-danger">
          <a class="active" aria-current="page" href="../chating">Chat</a>
        </li>
      </ul>
    <form action="logout" method="get"><button type="submit" class="btn btn-outline-danger">Log off</button></form>

    </div>
  </div>

</nav>
<div class="row">
   <div class="col-12 text-center">
     <P class="text-center"style="color: brown;"><strong>{{name}}</strong></P>
   </div>

</div>
  