{{> header}} 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<style>
    body {
  background-color: #6abfe6;
  background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 95%);

  min-height: 100vh;
}
.msg_time_send{
	font-size: xx-small;
}
.incomming{
     background: #9fb3ca;
     padding: 5px;
     border-radius: 5px;
	 text-align: left;
}
.outgoing{
     padding: 5px;
	 text-align: right;
}

.user_img,.user_img_msg{
    height: 50px !important;
    width: 50px !important;
    padding: 5px;
}
.sendbox{
    height: 50px !important;
}
</style>

	<div class="container-fluid h-100">
			<div class="row justify-content-center h-100">
				<div class="col-md-4 col-xl-3 chat"><div class="card mb-sm-3 mb-md-0 contacts_card">
					<div class="card-header">
						<div class="input-group">
							<input type="text" placeholder="Search..." name="" class="form-control search">
							<div class="input-group-prepend">
								<span class="input-group-text search_btn sendbox"><i class="fa fa-search"></i></span>
							</div>
						</div>
					</div>
					<div class="card-body contacts_body">
						<ui class="contacts">
							 {{#each userlist}}
								<p class="active">
									<div class="d-flex bd-highlight">
										<div class="img_cont">
											<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
											<span class="online_icon"></span>
										</div>
										<div class="user_info">
											<span>{{capitalize  username}}</span>
											<p>{{username}} is online</p>
										</div>
									</div>
								</p>
         					 {{/each }}
						</ui>
					</div>
					<div class="card-footer"></div>
				</div></div>
				<div class="col-md-8 col-xl-6 chat">
					<div class="card">
						<div class="card-header msg_head">
							<div class="row">
							<div class="col-md-9">
							<div class="d-flex bd-highlight">
								<div class="img_cont">
									<img src="https://static.turbosquid.com/Preview/001292/481/WV/_D.jpg" class="rounded-circle user_img">
									<span class="online_icon"></span>
								</div>
								<div class="user_info">
									<span>Chat with Khalid &nbsp;&nbsp;</span>
								</div>
								<div class="video_cam">
									<span><i class="fa fa-video-camera"></i></span>&nbsp;&nbsp;
									<span><i class="fa fa-phone"></i></span>
								</div>
                               
							</div>
							</div>
							 <div class="col-md-3 text-right" style="text-align:right;">
								 <a href="#Modal"> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
								</div>
							 </div>
						</div>
						<div class="card-body msg_card_body messagearea" id="messagearea">
							
						</div>
						<div class="card-footer">
							<div class="input-group">
								<div class="input-group-append">
									<span class="input-group-text sendbox"><i class="fa fa-paperclip"></i></span>
								</div>
								<input type="text" id="sendmessage" class="form-control sendbox" placeholder="Type your message...">
								<div class="input-group-append" onclick="sendbtn()"id="sendbtn">
									<span class="input-group-text send_btn sendbox"><i class="fa fa-paper-plane"></i></span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div id="Modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

<!-- Modal content-->
<div class="modal-content">
  <div class="modal-header">
    <h4 class="modal-title">Setting ({{username}})</h4>
	  <p type="button" class="close" data-dismiss="modal">&times;</p>
  </div>
  <div class="modal-body">
   <div class="action_menu">
		
			<p><i class="fa fa-user-circle"></i> &nbsp;Edit profile</p>
			<p><i class="fa fa-plus"></i> &nbsp;Create group</p>
			<p><i class="fa fa-ban"></i> &nbsp;Block</p>
		</ul>
	</div>
  </div>
</div>

  </div>
</div>
			</div>
	
		</div>

<script>
$('a[href$="#Modal"]').on( "click", function() {
   $('#Modal').modal('show');
});
</script>
 
 

 

{{> footer}}