{{> header}} 
<P style="color: brown;">{{name}}</P>
     <div style="height: 500px;">
<center>
         <form>
  <div class="form-group">
    <label for="exampleFormControlFile1">Atteched Excell file</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
    <input type="submit" class="btn btn-success" value="Submit"/>
  </div>
</form>
     </div>
</center>
   {{> footer}}